@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  background-color: #fff;
  position: fixed;
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: #1e293d;       /* color of the tracking area */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: #0f172a;    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
 
}

/* Bounce Animation */
.bounce-enter-active {
  animation: bounce-in 0.3s;
}
.bounce-leave-active {
  animation: bounce-in 0.2s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

/* SVG */
.svg-icon {
  width: 1em;
  height: 1em;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
  fill: #eaeaea;
}

.svg-icon circle {
  stroke: #d7d7d7;
  stroke-width: 1;
}